.video-grid{
    position:relative;

    flex:1;
    display:grid;
    gap:16px;
    padding:20px;
    width:100%;
    height:100%;
}

/* One user */

.video-grid.one-user{

    grid-template-columns:1fr;
    grid-template-rows:1fr;

}

/* Two users */

.video-grid.two-users{

    grid-template-columns:1fr 1fr;

}

/* Three or More */

.video-grid.multi-users{

    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

    grid-auto-rows:300px;

}

