.screen-share-view{
    position: relative;
    width:100%;
    height:100%;
}

.shared-screen{
    width:100%;
    height:100%;
}

.floating-camera{
    position:absolute;
    right:20px;
    bottom:20px;
    width:240px;
    height:140px;
    z-index:100;
}